@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


:root {
    --cor-de-fundo: #222831;
    --cor-hover: #2a79da;
    --branco-fonte:#ededed;
    --fonte-principal: 'Poppins', sans-serif;
}
  
  
.cabecalho__titulo{
    overflow: hidden;
    white-space: nowrap;
    animation: digitar 2s steps(40) 1s 1 normal both;
}

.homepage__conteudo{
    animation: desliza-esquerda 1.5s ease-in-out;
}

.homepage__imagem {
    animation: pulsar 1.4s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    background: var(--cor-de-fundo);
    color: var(--branco-fonte);
}


.cabecalho{
    display: flex;
    justify-content: space-between;
    padding: 25px 10% 5px 10%;
    width: 100%;
    background-color: transparent;
    align-items: center;
}

.cabecalho__titulo{
    color: var(--branco-fonte);
    font-size: 27px;
    font-weight: 550;
    text-decoration: none;
}


.cabecalho__menu .cabecalho__menu-item{
    color: var(--branco-fonte);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    margin-left: 4em;
    transition: 1s;
}

.cabecalho__menu .cabecalho__menu-item:hover, .cabecalho__menu .home{
    color: var(--cor-hover);
}


.homepage {
    display: flex;
    align-items: center;
    height: 90vh;
    padding: 0 10%;
}


.homepage__conteudo h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 1em;
}

.homepage__conteudo strong {
    color: var(--cor-hover);
}


.homepage__conteudo li{
    display: flex;
    align-items: center;
    gap: 1em;
    margin-bottom: 1em;
    font-size: 20px;
}

.homepage__conteudo p{
    margin-top: 2em;
}

.homepage__imagem img{
    width: 45vw;
    margin-left: 10%;
}


/* KEY FRAMES - ANIMACAO  */

@keyframes desliza-esquerda {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
}

@keyframes pulsar {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes digitar {
    0% { 
        width: 0;
        height: 1.2em;
    }

    100% { 
        width: 30%;
        height: 1.2em; 
    }
}


@media screen and (max-width:900px){
    .cabecalho__menu, .cabecalho__menu-item {
        margin-left: auto;
        font-size: auto;
    }

    .homepage {
        flex-direction: column;
        padding: 0 2em;
    }

    .homepage__imagem {
        display: flex;
        justify-content: center;
    }
    
    .homepage__imagem img{
        margin-left: 0;
        width: 100%;

    }
}