.topicos {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1.5em 0 1em 0;
}

.topicos__titulo {
    color: var(--branco);
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: .5em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 .2em;
}

.topicos__item{
    margin: 2em 0.5em;
}

.topicos__link {
    color: var(--branco);
    padding: 1.2em;
    text-decoration: none;
    background-color: var(--laranja);
    font-size: 14px;
    font-weight: 700;
}