@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


:root {
    --cor-de-fundo: #222831;
    --cor-hover: #2a79da;
    --branco-fonte:#ededed;
    --fonte-principal: 'Poppins', sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-principal);
    background: var(--cor-de-fundo);
    color: var(--branco-fonte);
}


.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    width: 100%;
    background-color: transparent;
    align-items: center;
}

.cabecalho__titulo {
    color: var(--branco-fonte);
    font-size: 27px;
    font-weight: 550;
    text-decoration: none;
}


.cabecalho__menu .cabecalho__menu-item{
    color: var(--branco-fonte);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 4em;
    /* Efeito do hover */
    transition: 0.5s;
}

.cabecalho__menu .cabecalho__menu-item:hover, .cabecalho__menu .home{
    color: var(--cor-hover);
}


.homepage {
    display: flex;
    align-items: center;
    height: 80vh;
    padding: 0 10%;
}

.homepage__conteudo {
    max-width: 50%;
}

.homepage__conteudo h1 {
    font-size: 56px;
    font-weight: 700;
}

.homepage__conteudo h3{
    font-size: 32px;
    font-weight: 700;
    color: var(--cor-hover);
}

.homepage__conteudo p{
    font-size: 16px;
}